{% extends "base.html" %}
{% block title %}Inventaire{% endblock %}
{% block page-id %}Inventaire{% endblock %}
{% block content %}

    <span id="logout">{% include "_menu.html" %}</span>
    <!-- end #menu -->
    <div id="content">
        <div class="post">
            <h1 class="title">Liste des Produits </h1>
            <div class="entry">
                <div id = "form">
                    <form action="" method="post">{% csrf_token %}
                        <table  id="insured_list" class="tablesorter">
                            <thead>
                                <tr>
                                    <th> Magasin</th><th>Produit</th><th colspan=2>Restant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for rap in l%}
                                    <tr>
                                        <td>{{rap.mag}}</td>
                                        <td>{{rap.prod}}</td>
                                        <td>{{rap.carton_r}} carton</td>
                                        <td>{{rap.piece_r}} piece</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </form>
                </div>
                {% if l %}
                <a href="{% url export_excel %}" title=" Export les données" style="margin-left: 70em">
                    <img id ='image' src="/static/css/images/xls.png" width="25"/>
                </a>
                {% endif%}
            </div>
        </div>
    </div>
    <div style="clear: both;">&nbsp;</div>
    </div>
{% endblock %}
